---
Checks: >
 boost-*,bugprune-*,cert-*,
 clang-diagnostic-*,clang-analyzer-*,
 -cert-msc30-c, -cert-env33-c,
 -clang-analyzer-optin.performance.Padding,
 -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
 -clang-analyzer-deadcode.DeadStores,
 -clang-analyzer-security.insecureAPI.strcpy,
 -clang-analyzer-unix.Malloc,
 -clang-analyzer-unix.cstring.NullArg,
 -clang-analyzer-core.NullDereference,
 concurrency-*,-concurrency-mt-unsafe,cppcoreguidelines-,
 fuchsia-*,google-*,llvm-*,misc-*,
 modernize-*,performance-*,portability-*,
 -bugprone-argument-comment,
 -bugprone-no-escape,
 -cert-err58-cpp,
 -cert-msc51-cpp,
 -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
 -cppcoreguidelines-pro-bounds-constant-array-index,
 -cppcoreguidelines-pro-bounds-pointer-arithmetic,
 -fuchsia-default-arguments-calls,
 -fuchsia-default-arguments-declarations,
 -fuchsia-overloaded-operator,
 -fuchsia-trailing-return,
 -fuchsia-statically-constructed-objects,
 -llvm-include-order,
 -misc-non-private-member-variables-in-classes,
 -modernize-avoid-bind,
 -modernize-avoid-c-arrays,
 -modernize-pass-by-value,
 -modernize-replace-random-shuffle,
 -modernize-unary-static-assert,
 -modernize-use-nodiscard,
 -modernize-use-trailing-return-type,
 -readability-else-after-return,
 -readability-function-cognitive-complexity,
 -readability-function-size,
 -readability-redundant-member-init,
 -readability-redundant-string-init,
 -performance-unnecessary-value-param,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions: []